{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "extensions": [".js", ".jsx", ".ts", ".tsx", ".css", "scss"],
      "cwd": "babelrc"
    }],
    ["styled-jsx/babel", {
      "plugins": ["styled-jsx-plugin-sass"]
    }]
  ]
}