# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# dotenv
.env
.env.production

# Next
.next/

# Node
node_modules/
npm-debug.log
yarn-error.log

# pm2
.pm2/

# VSCode
.vscode/

# Vim
*.swp
*.swo

# WebStorm
.idea/

# Custom
.dist/
uploads/
